/* Dashboard.css */

.dashboard-container {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;         /* Enables vertical scrolling */
  box-sizing: border-box;
  padding-bottom: 80px;     /* Enough space above footer */
}

.dashboard-container > div {
  padding: 1rem 1.5rem ;
}

/* Optional: Fix Footer to bottom only when needed */
.footer-fixed {
  position: relative;
  bottom: 0;
  width: 100%;
}

.quote-container{
  margin: 1rem 1.5rem;
}