.subject-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  max-height:220px;
  min-height: 220px;
}

.subject-card:hover {
  transform: translateY(-5px);
}

.subject-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.subject-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #1976d2;
}

.subject-name {
  font-size: 1.2rem;
  color: #1a237e;
  font-weight: 600;
}

.subject-info {
  background-color: #f0f7ff;
  border-radius: 8px;
  padding: 0.5rem;
}

.teacher-name,
.schedule-day {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  color: #444;
}
.swiper {
  margin-left: 25px;
}
